<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MSSQLConnectionString" value="Server=MANAGER\SQLEXPRESS;Database=PA036;Trusted_Connection=True;"/>
    <add key="PostgresTemporalConnectionString" value="Server=127.0.0.1;Port=5432;Database=pa036;User Id=postgres;Password = root;"/>
    <add key="PostgresNonTemporalConnectionString" value="Server=127.0.0.1;Port=5432;Database=pa036notemporal;User Id=postgres;Password = root;"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>